body {
  font-family: Calibri, Helvetica, sans-serif;
  background-color: rgb(92, 173, 150);
}

.container {
  padding: 50px;
  background-color: rgb(242, 233, 233);
}

input[type=text],
input[type=password],
textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 3px solid rgb(57, 130, 94);
  background: #e9faf9;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: rgb(196, 138, 31);
  outline: none;
}

div {
  padding: 14px 0;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #37bc96;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}


#display_image {
  width: 375px;
  height: 211px;
  border: 3px solid rgb(6, 60, 20);
  background-position: center;
  background-size: cover;
}

a {
  display: inline-block;
  padding: 1em 3.5em;
  background-color: var(--color);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: 1.2rem;
}

.a {
  background-color: black;
}

.b {
  color: white;
  font-size: 20px;
}

.baaa:hover {
  color: red;
}

.abd {
  padding-left: 3cm;
}

.e {
  background-color: white;
}

.j {
  color: black;
  text-decoration: none;
  border: none;
  font-size: 22px;
}