body {
   background: #add8e6;
}


.box {
   width: 1000px;
   margin: 100px auto;
   background: #fff;
   border-radius: 7px;
   box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
}

.box .heading {
   background: #333;
   border-radius: 7px 7px 0px 0px;
   padding: 10px;
   color: #fff;
   text-align: center;
   font-weight: bold;
   font-size: 30px;
}

.title {
   margin-left: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 20px;
}

.faqs {
   padding: 0px 20px 20px;
}

::-webkit-details-marker {
   float: right;
   margin-top: 3px;
}

details {
   background: #f6f6f6;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-family: Helvetica, sans-serif;
   font-size: 14px;
   letter-spacing: 1px;
   line-height: 30px;
   cursor: pointer;
}

details summary {
   outline: none;
}

table,
th,
td {
   border: 1px solid black;
   border-collapse: collapse;
   padding: 10px;
   column-width: 300px;

}

a {
   display: inline-block;
   
   color: white;
   text-decoration: none;
   text-transform: uppercase;
   border-radius: 0.3em;
   font-weight: 700;
   letter-spacing: .5px;
   font-size: 1.2rem;
}

.a {
   background-color: black;
   height: 150px;;
}

.b {
   color: white;
   font-size: 20px;
}

.baaa:hover {
   color: red;
}

.abd {
   padding-left: 3cm;
}

.e {
   background-color: white;
}

.j {
   color: black;
   text-decoration: none;
   border: none;
   font-size: 22px;
}