@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

:root{
--color: #333; 
}

body {
  font-family: 'Red Hat Text', sans-serif;
  background-color: #add8e6;
}

.container {
  text-align: center;
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../pics/wp6473476.jpg");
  background-size: cover;
  background-position: center;
  
/*  this is where the magic happens:  */
  background-attachment: fixed;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  color: white;
}

.pp {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
}

a {
  display: inline-block;
  
  background-color: var(--color);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: 1.2rem;
}
.a1{
  display: inline-block;
  padding: 1em 3.5em;
  background-color: var(--color);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: 1.2rem;
}

.blank,
.other {
  width: 100%;
  min-height: 60vh;
  background-color: var(--color);
}

.second {
  background-image:url("../pics/pexels-photo-13568748.webp");
  background-attachment: fixed;
  height: 1200px;
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}

.card > a {
  margin-bottom: 2em;
}

.item {
  display: flex;
  max-width: 320px;
  background-color: white;;
  flex-direction: column;
  align-items: center;
  border-radius: .5em;
  -webkit-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
  box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
}

.img {
  width: 90%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: .3em;;
}

.img-first {
  background-image: url("../pics/person1.jpg");
}

.img-second {
  background-image: url("../pics/person2.jpg");
}

.img-third {
  background-image: url("../pics/person3.jpg");
}

.second {
  flex-direction: row;
  gap: 1.6em;
}

.a{
  background-color: black;
}
.b{
  color: white;
  font-size: 20px;
  background-color: black;
}
.baaa:hover{
  color: red; 
}
.abd{
  padding-left: 3cm;
}
.e{
  background-color: black;
  border: none;
}
.j{
  color: white;
  text-decoration: none;
  border: none;
  font-size: 22px;
}
.para {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
  color: white;
  font-size: 35px;
}
.lll{
  margin-top: 10px;
}
.abcd{
  font-size: 40px;
  font-family: sans-serif;
  color: white;
  font-weight: 700;
  padding-top: 50px;
 }
 .line {
  border-bottom: 5px solid white;
  margin-top: 2px;
  width: 5%;
  margin-left: 900px;
}
.wid{
  height: 80px;
  width: 80px;
}
.pad{
  margin-top: 30px;
}
.mar{
  margin-left: 250px;
}
.abhg{
  text-align: center;
  font-size: 22px;
  color: white;

}
.abhj{
  text-align: center;
  font-weight: 700;
  color: white;
}
.marr{
  margin-left: 300px;
}
.howpara {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
  color: white;
  font-size: 30px;
}
.marrr{
  margin-left:250px;
}
.end{
  width: 100%;
  height: 200px;
  background-color: #333;
  margin-top: 50px;
}
.fstyle{
  font-size: 30px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 30px;
  margin-left: 20px;
 }
 
 .customer{
  height: 70px;
  width: 90px;
  margin-left: 100px;
 }
 .fsttyle{
  font-size: 30px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
  margin-left: 100px;
 }
 .socials{
  width: 50px;
  height: 50px;
  border-radius: 60%;
  text-align: center;
  line-height: 50px;
  font-size:30px;
  background: #fff;
  margin-right: 80px;
  cursor: pointer;
  margin-top: 30px;
  justify-content: center;
}
 .center{
  justify-items: center;
 }
 .justify {
  text-align:justify;
  text-justify:inter-word;
}